In [1]:
import pandas as pd
df=pd.read_csv("Engro Daily.csv")

In [2]:
df

          Date        Open        High         Low       Close     Volume
0     1/1/2024  274.921160  281.332451  274.921160  278.937530   345186.0
1     1/2/2024  281.425644  282.357517  274.902533  275.685303   403982.0
2     1/3/2024  276.673058  280.307356  274.343375  276.579864   280908.0
3     1/4/2024  278.630019  283.280056  277.698146  279.822815  1091669.0
4     1/5/2024  278.648643  279.543262  274.837286  275.936890   287334.0
..         ...         ...         ...         ...         ...        ...
254   1/7/2025  485.380005  485.380005  485.380005  485.380005        0.0
255   1/8/2025  485.380005  485.380005  485.380005  485.380005        0.0
256   1/9/2025  485.380005  485.380005  485.380005  485.380005        0.0
257  1/10/2025  485.380005  485.380005  485.380005  485.380005        0.0
258  1/13/2025  485.380005  485.380005  485.380005  485.380005        0.0

[259 rows x 6 columns]

In [3]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [ ]:
df.head()

         Date        Open        High         Low       Close     Volume
0    1/1/2024  274.921160  281.332451  274.921160  278.937530   345186.0
1    1/2/2024  281.425644  282.357517  274.902533  275.685303   403982.0
2    1/3/2024  276.673058  280.307356  274.343375  276.579864   280908.0
3    1/4/2024  278.630019  283.280056  277.698146  279.822815  1091669.0
4    1/5/2024  278.648643  279.543262  274.837286  275.936890   287334.0
5    1/8/2024  279.552560  294.891209  279.552560  293.428162  2091918.0
6    1/9/2024  294.471865  301.460912  294.471865  297.351349  1056209.0
7   1/10/2024  298.637324  299.597152  290.790942  292.188751   502738.0
8   1/11/2024  291.666936  292.598809  287.995354  288.591766  1009273.0
9   1/12/2024  290.744357  293.428156  287.995321  289.626099  1046365.0
10  1/15/2024  290.651158  291.676223  287.948732  288.871277   269017.0
11  1/16/2024  288.871277  288.871277  288.871277  288.871277        NaN
12  1/17/2024  286.737304  296.102616  285.162437  294.620941  2822558.0
13  1/18/2024  295.403735  297.081095  289.812497  296.484711  1113839.0
14  1/19/2024         NaN  305.654355  294.471878  301.479553   927204.0
15  1/22/2024         NaN  302.858719  298.525515  300.743378   374040.0
16  1/23/2024  300.762013  305.095216  299.131235  303.771973   732014.0
17  1/24/2024  303.939696  305.654339  302.392784  303.650818        NaN
18  1/25/2024  302.858734  311.618334  302.858734  309.763916  3959018.0
19  1/26/2024         NaN  310.779618  305.663645  306.651428   656175.0

In [7]:
df.tail()

          Date        Open        High         Low       Close  Volume
254   1/7/2025  485.380005  485.380005  485.380005  485.380005     0.0
255   1/8/2025  485.380005  485.380005  485.380005  485.380005     0.0
256   1/9/2025  485.380005  485.380005  485.380005  485.380005     0.0
257  1/10/2025  485.380005  485.380005  485.380005  485.380005     0.0
258  1/13/2025  485.380005  485.380005  485.380005  485.380005     0.0

In [9]:
df.isnull()

      Date   Open   High    Low  Close  Volume
0    False  False  False  False  False   False
1    False  False  False  False  False   False
2    False  False  False  False  False   False
3    False  False  False  False  False   False
4    False  False  False  False  False   False
..     ...    ...    ...    ...    ...     ...
254  False  False  False  False  False   False
255  False  False  False  False  False   False
256  False  False  False  False  False   False
257  False  False  False  False  False   False
258  False  False  False  False  False   False

[259 rows x 6 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    259 non-null    object
 1   Open    256 non-null    float64
 2   High    259 non-null    float64
 3   Low     259 non-null    float64
 4   Close   259 non-null    float64
 5   Volume  257 non-null    float64
dtypes: float64(5), object(1)
memory usage: 12.3+ KB

In [11]:
df.shape

(259, 6)

In [13]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [20]:
df['High'].max()

496.0

In [45]:
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Volume    0
dtype: int64

In [ ]:
df["Volume"]=df["Volume"].fillna(df["Volume"].mean())
df['Open']=df['Open'].fillna(df['Open'].mean())

In [24]:
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [26]:
df.describe()

             Open        High         Low       Close        Volume
count  259.000000  259.000000  259.000000  259.000000  2.590000e+02
mean   329.229362  333.444201  325.014623  328.985972  7.280264e+05
std     41.673023   43.484593   40.977824   42.326294  8.924751e+05
min    274.921160  279.543262  274.343375  275.685303  0.000000e+00
25%    310.114718  312.127044  305.610009  309.212219  2.213945e+05
50%    317.955774  320.564288  315.000000  317.281128  3.944830e+05
75%    331.375794  336.867420  324.582641  332.894669  8.550375e+05
max    485.380005  496.000000  485.380005  485.380005  5.622094e+06

In [27]:
df['bonus']=df['High'] *0.10

In [28]:
df

,Date,Open,High,Low,Close,Volume,bonus
0,1/1/2024,274.921160,281.332451,274.921160,278.937530,345186.0,28.133245
1,1/2/2024,281.425644,282.357517,274.902533,275.685303,403982.0,28.235752
2,1/3/2024,276.673058,280.307356,274.343375,276.579864,280908.0,28.030736
3,1/4/2024,278.630019,283.280056,277.698146,279.822815,1091669.0,28.328006
4,1/5/2024,278.648643,279.543262,274.837286,275.936890,287334.0,27.954326
...,...,...,...,...,...,...,...
254,1/7/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000
255,1/8/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000
256,1/9/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000
257,1/10/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000
258,1/13/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000

In [30]:
df.insert(7,'new',df['Low'] *0.10)

In [31]:
df

,Date,Open,High,Low,Close,Volume,bonus,new
0,1/1/2024,274.921160,281.332451,274.921160,278.937530,345186.0,28.133245,27.492116
1,1/2/2024,281.425644,282.357517,274.902533,275.685303,403982.0,28.235752,27.490253
2,1/3/2024,276.673058,280.307356,274.343375,276.579864,280908.0,28.030736,27.434338
3,1/4/2024,278.630019,283.280056,277.698146,279.822815,1091669.0,28.328006,27.769815
4,1/5/2024,278.648643,279.543262,274.837286,275.936890,287334.0,27.954326,27.483729
...,...,...,...,...,...,...,...,...
254,1/7/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
255,1/8/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
256,1/9/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
257,1/10/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
258,1/13/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000

In [32]:
df.loc[0,'Low']=10

In [33]:
df

,Date,Open,High,Low,Close,Volume,bonus,new
0,1/1/2024,274.921160,281.332451,10.000000,278.937530,345186.0,28.133245,27.492116
1,1/2/2024,281.425644,282.357517,274.902533,275.685303,403982.0,28.235752,27.490253
2,1/3/2024,276.673058,280.307356,274.343375,276.579864,280908.0,28.030736,27.434338
3,1/4/2024,278.630019,283.280056,277.698146,279.822815,1091669.0,28.328006,27.769815
4,1/5/2024,278.648643,279.543262,274.837286,275.936890,287334.0,27.954326,27.483729
...,...,...,...,...,...,...,...,...
254,1/7/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
255,1/8/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
256,1/9/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
257,1/10/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000
258,1/13/2025,485.380005,485.380005,485.380005,485.380005,0.0,48.538000,48.538000

In [36]:
df['Close']=df['Close'] *1.5

In [37]:
df

,Date,Open,High,Low,Close,Volume,bonus,new
0,1/1/2024,274.921160,281.332451,10.000000,439.326611,345186.0,28.133245,27.492116
1,1/2/2024,281.425644,282.357517,274.902533,434.204352,403982.0,28.235752,27.490253
2,1/3/2024,276.673058,280.307356,274.343375,435.613287,280908.0,28.030736,27.434338
3,1/4/2024,278.630019,283.280056,277.698146,440.720933,1091669.0,28.328006,27.769815
4,1/5/2024,278.648643,279.543262,274.837286,434.600601,287334.0,27.954326,27.483729
...,...,...,...,...,...,...,...,...
254,1/7/2025,485.380005,485.380005,485.380005,764.473508,0.0,48.538000,48.538000
255,1/8/2025,485.380005,485.380005,485.380005,764.473508,0.0,48.538000,48.538000
256,1/9/2025,485.380005,485.380005,485.380005,764.473508,0.0,48.538000,48.538000
257,1/10/2025,485.380005,485.380005,485.380005,764.473508,0.0,48.538000,48.538000
258,1/13/2025,485.380005,485.380005,485.380005,764.473508,0.0,48.538000,48.538000

In [43]:
#deleting a coluomn
df.drop(columns=['new','Close'],inplace=True)

In [44]:
df

          Date        Open        High         Low     Volume
0     1/1/2024  274.921160  281.332451   10.000000   345186.0
1     1/2/2024  281.425644  282.357517  274.902533   403982.0
2     1/3/2024  276.673058  280.307356  274.343375   280908.0
3     1/4/2024  278.630019  283.280056  277.698146  1091669.0
4     1/5/2024  278.648643  279.543262  274.837286   287334.0
..         ...         ...         ...         ...        ...
254   1/7/2025  485.380005  485.380005  485.380005        0.0
255   1/8/2025  485.380005  485.380005  485.380005        0.0
256   1/9/2025  485.380005  485.380005  485.380005        0.0
257  1/10/2025  485.380005  485.380005  485.380005        0.0
258  1/13/2025  485.380005  485.380005  485.380005        0.0

[259 rows x 5 columns]

In [55]:
#handling missing data
import pandas as pd
data={
        'time':[5,10,None,15,20],
        'value':[100,200,None,300,'NAN']
}
df=pd.DataFrame(data)
df['value']=df['value'].interpolate(method='polynomial')
df

C:\Users\GT-Tech\AppData\Local\Temp\ipykernel_11568\1015531290.py:8: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df['value']=df['value'].interpolate(method='polynomial')

   time value
0   5.0   100
1  10.0   200
2   NaN  None
3  15.0   300
4  20.0   NAN